#compiled source code#
#####################
*.o

#all vsim/hdl/verilog/whatever besides source#
#############################################
HDL/analyzed/
HDL/docs/
HDL/modelsim.ini
HDL/mapped/
HDL/reports/
HDL/schematic/
HDL/scripts/
HDL/transcript
HDL/work/
HDL/source/*.bak
HDL/*.log
HDL/*.mtran
HDL/*.stran
HDL/*.txt
HDL/*.jpg
drivers/*.out
HDL/default.svf
HDL/gpu.mcomp
HDL/mapped.tran
HDL/mapped_work/
transcript
drivers/transcript
HDL/*.scomp
